{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block meta-css %}
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}
{% block main-content %}

  <!-- /【頁首】含主導覽列 -->
  <a accesskey="C" href="C" id="AC" name="C" title="中央內容區塊" class="visually-hidden-focusable">:::</a>
  <!-- 【內容】主要內容區塊 -->
  <main class="flex-shrink-0">
    <form>
        
        <div class="my-3 mx-3 g-3 row justify-content-center " >
            {%for field in form %}
            <div class="mb-2 col">
                {{ field.label_tag }}
                {{field}}
            </div>
            {%endfor%}
            <input type="submit">
    </div>
    </form>
    <div class="my-3 mx-3 g-3 row justify-content-center " style='width:100%'>
        <table id="dg" title="廣告資料" class="easyui-datagrid" style="width:100%;height:600px;"
        url="{% url 'shopee:get_data' %}" data-options="pageSize:15"
        toolbar="#toolbar" pagination="true"
        rownumbers="true" fitColumns="true" singleSelect="true" ,
        pageList='[5,10,15,20,50]',rownumbers:true>
    <thead>
        <tr>
            <th field="keyword" width="50" sortable="true">關鍵字</th>
            <th field="status" width="50" sortable="true">狀態</th>
            <th field="mode" width="50" sortable="true">比對模式</th>
            <th field="search_request" width="50" sortable="true">搜尋请求</th>
            <th field="view" width="50" sortable="true">瀏覽數</th>
            <th field="click" width="50" sortable="true">點擊數</th>
            <th field="click_rate" width="50" sortable="true">點擊率</th>
            <th field="transfer" width="50" sortable="true">轉換</th>
            <th field="dtransfer" width="50" sortable="true">直接轉換</th>
            <th field="transfer_rate" width="50" sortable="true">轉換率</th>
            <th field="dtransfer_rate" width="50" sortable="true">直接轉換率</th>
            <th field="cost_transfer" width="50" sortable="true">每一筆轉換的成本</th>
            <th field="cost_dtransfer" width="50" sortable="true">每一筆轉換的成本</th>
            <th field="sold_number" width="50" sortable="true">銷售數</th>
            <th field="dsold_number" width="50" sortable="true">直接銷售數</th>
            <th field="sold_cost" width="50" sortable="true">銷售金額</th>
            <th field="sold_dcost" width="50" sortable="true">直接銷售金額</th>
            <th field="cost" width="50" sortable="true">花費</th>
            <th field="avg_rank" width="50" sortable="true">平均排名</th>
            <th field="invent_rate" width="50" sortable="true">投資產出比</th>
            <th field="dinvent_rate" width="50" sortable="true">直接投資產出比</th>
            <th field="cost_revenue_rate" width="50" sortable="true">成本收入比率</th>
            <th field="dcost_revenue_rate" width="50" sortable="true">直接成本收入比率</th>
            </tr>
            </thead>
 
            </table>
        </div>
        <div id="toolbar">
            {% comment %} <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newNews()">新增資料</a> {% endcomment %}
            {% comment %} <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editNews()">編輯資料</a> {% endcomment %}
            {% comment %} <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyNews()">移除資料</a> {% endcomment %}
        </div>
        <div id="dlg" class="easyui-dialog" style="width:400px"
            closed="true" buttons="#dlg-buttons">
        <form id="fm" method="post" novalidate style="margin:0;padding:20px 50px">
            <div style="margin-bottom:20px;font-size:20px;border-bottom:1px solid #ccc">廣告資料</div>
            <div style="margin-bottom:10px">
                <input name="keyword" class="easyui-textbox" required="true" label="關鍵字" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="status" class="easyui-textbox" required="true" label="狀態" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="mode" class="easyui-textbox" required="true" label="比對模式" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="search_request" class="easyui-textbox" required="true" label="搜尋请求" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="view" class="easyui-textbox" required="true" label="瀏覽數" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="click" class="easyui-textbox" required="true" label="點擊數" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="click_rate" class="easyui-textbox" required="true" label="點擊率" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="transfer" class="easyui-textbox" required="true" label="轉換" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="dtransfer" class="easyui-textbox" required="true" label="直接轉換" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="transfer_rate" class="easyui-textbox" required="true" label="轉換率" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="dtransfer_rate" class="easyui-textbox" required="true" label="直接轉換率" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="cost_transfer" class="easyui-textbox" required="true" label="每一筆轉換的成本" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="cost_dtransfer" class="easyui-textbox" required="true" label="每一筆轉換的成本" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="sold_number" class="easyui-textbox" required="true" label="銷售數" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="dsold_number" class="easyui-textbox" required="true" label="直接銷售數" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="sold_cost" class="easyui-textbox" required="true" label="銷售金額" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="sold_dcost" class="easyui-textbox" required="true" label="直接銷售金額" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="cost" class="easyui-textbox" required="true" label="花費" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="avg_rank" class="easyui-textbox" required="true" label="平均排名" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="invent_rate" class="easyui-textbox" required="true" label="投資產出比" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="dinvent_rate" class="easyui-textbox" required="true" label="直接投資產出比" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="cost_revenue_rate" class="easyui-textbox" required="true" label="成本收入比率" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="dcost_revenue_rate" class="easyui-textbox" required="true" label="直接成本收入比率" style="width:100%">
            </div>
                
        </form>
    </div>
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveNews()" style="width:90px ">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px" >取消</a>
    </div>

    </div>
    <div data-options="region:'center',title:'廣告資料'" style="padding:5px;background:#eee;">
        {% comment %} <table id="dg"><table> {% endcomment %}
</main> 
{% block filejs %}
<script>
    var url;
    $(function(){
       
        $("#dg").datagrid('enableFilter', [{
            field:'keyword',
            type:'combobox',
            options:{precision:1},
            trigger: 'none',
        }]);
    });
    //显示编辑框
    {% comment %} function newNews(){
    $('#dlg').dialog('open').dialog('center').dialog('setTitle','新增廣告資料');
    $('#fm').form('clear');
    url = '{% url 'shopee:start'%}';
    } {% endcomment %}
    //编辑新闻
    {% comment %} function editNews(){
    var row = $('#dg').datagrid('getSelected');
    console.log(row);
    if (row){
        $('#dlg').dialog('open').dialog('center').dialog('setTitle','Edit News');
        $('#fm').form('load',row);
        //  ajax 编辑News 并且 通过ajax 保存到后端 SQL
        url = '{% url 'shopee:edit' id=1 %}';
    }
    }
    // 保存新闻
    function saveNews(){
    $('#fm').form('submit',{
        url: url,
        onSubmit: function(){
            return $(this).form('validate');
        },
        success: function(result){
            if (result=="save"){
               $('#dlg').dialog('close');
                $('#dg').datagrid('reload');
            }else
            if (result.errorMsg){
                $.messager.show({
                    title: 'Error',
                    msg: result.errorMsg
                });
            } else {
                $('#dlg').dialog('close');        // close the dialog
                $('#dg').datagrid('reload');    // reload the News data
            }
        }
    });
    }


    //删除新闻
    function destroyNews(){
    var row = $('#dg').datagrid('getSelected');
    console.log(row);
    if (row){
        $.messager.confirm('再次确认','你确定要删除这条新闻？',function(r){
            if (r){
                $.ajax({
                    url: '{% url 'shopee:remove'%}',
                    type: 'POST',
                    data: {'id':row.news_id},
                    success: function(data) {
                        if (data=="REMOVE"){
                            $('#dg').datagrid('reload');
                        }
                    },
                    error: function(data) {alert("error")}
                });
            }
        });
    }
    } {% endcomment %}
    $(".easyui-combobox").each(function(index,value){
        $(this).combobox({
            onChange: function(row){
                var target = this;
                
                var keyword =  $('#keyword').combobox('getText')
                var mode =  $('#mode').combobox('getText')
                var search_request =  $('#search_request').combobox('getText')
                var status =  $('#status').combobox('getText')
                var meta_data =  $('#meta_data').combobox('getText')
                
                
                item_obj = {
                    keyword: $('#keyword').combobox('getText'),
                    mode: $('#mode').combobox('getText'),
                    search_request: $('#search_request').combobox('getText'),
                    status: $('#status').combobox('getText'),
                    meta_data: $('#meta_data').combobox('getText'),
                }
                for (const key in item_obj) {
                    if (item_obj[key] =='---------'){
                        delete item_obj[key]
                    }
                    
                }
              
                $('#dg').datagrid({
                    loader: function(param, success, error){
                        var opts = $(this).datagrid('options');
                        if (!opts.url) return false;
                        $.ajax({
                            type: opts.method,
                            url: opts.url,
                            data: item_obj,
                            dataType: 'json',
                            success: function(data){
                                console.log(data)
                                success(data);
                            },
                            error: function(){
                                error.apply(this, arguments);
                            }
                        });
                    }
                })
           
                
            }
        })
           
                    
                    
                       
                   });  
    
    
    </script>
{% endblock filejs %}
{% endblock main-content %}
