{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block meta-css %}
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}
{% block main-content %}

  <!-- /【頁首】含主導覽列 -->
  <a accesskey="C" href="C" id="AC" name="C" title="中央內容區塊" class="visually-hidden-focusable">:::</a>
  <!-- 【內容】主要內容區塊 -->
  <main class="flex-shrink-0">
    <form>
        
        <div class="my-3 mx-3 g-3 row justify-content-center " >
            {%for field in form %}
            <div class="mb-2 col">
                {{ field.label_tag }}
                {{field}}
            </div>
            {%endfor%}
    </div>
    </form>
    <div class="my-3 mx-3 g-3 row justify-content-center " style='width:100%'>
        <table id="dg" title="統計資料" class="easyui-datagrid" style="width:100%;height:600px;"
        url="{% url 'shopee:get_cal_data' %}" data-options="pageSize:15"
        toolbar="#toolbar" pagination="true"
        rownumbers="true" fitColumns="true" singleSelect="true" ,
        pageList='[5,10,15,20,50]',rownumbers:true>
    <thead>
        <tr>
            <th field="total_search" width="50" sortable="true">瀏覽數</th>
            <th field="total_transfer" width="50" sortable="true">轉換</th>
            <th field="total_click" width="50" sortable="true">點擊數</th>
            <th field="total_dtransfer" width="50" sortable="true">直接轉換</th>
            <th field="total_cost" width="50" sortable="true">花費</th>
            <th field="total_sell" width="50" sortable="true">銷售數</th>
            <th field="total_tsell" width="50" sortable="true">直接銷售數</th>
            <th field="average_rank" width="50" sortable="true">平均排名</th>
            <th field="total_money" width="50" sortable="true">銷售金額</th>
            <th field="total_tmoney" width="50" sortable="true">直接銷售金額</th>
            </tr>
            </thead>
 
            </table>
        </div>
        <div id="toolbar">
        </div>
        <div id="dlg" class="easyui-dialog" style="width:400px"
            closed="true" buttons="#dlg-buttons">
        <form id="fm" method="post" novalidate style="margin:0;padding:20px 50px">
            <div style="margin-bottom:20px;font-size:20px;border-bottom:1px solid #ccc">統計資料</div>
            <div style="margin-bottom:10px">
                <input name="total_search" class="easyui-textbox" required="true" label="瀏覽數" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="total_transfer" class="easyui-textbox" required="true" label="轉換" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="total_click" class="easyui-textbox" required="true" label="點擊數" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="total_dtransfer" class="easyui-textbox" required="true" label="直接轉換" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="click" class="easyui-textbox" required="true" label="花費" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="total_cost" class="easyui-textbox" required="true" label="銷售數" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="total_sell" class="easyui-textbox" required="true" label="直接轉換" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="total_tsell" class="easyui-textbox" required="true" label="直接銷售數" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="average_rank" class="easyui-textbox" required="true" label="平均排名" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="total_money" class="easyui-textbox" required="true" label="銷售金額" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="total_tmoney" class="easyui-textbox" required="true" label="直接銷售金額" style="width:100%">
            </div>
            
                
        </form>
    </div>
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveNews()" style="width:90px ">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px" >取消</a>
    </div>

    </div>
    <div data-options="region:'center',title:'統計資料'" style="padding:5px;background:#eee;">
</main> 
{% block filejs %}
<script>
    var url;
    $(function(){
       
        $("#dg").datagrid('enableFilter', [{
            field:'keyword',
            type:'combobox',
            options:{precision:1},
            trigger: 'none',
        }]);
    });

    $(".easyui-combobox").each(function(index,value){
        $(this).combobox({
            onChange: function(row){
                var keyword =  $('#keyword').combobox('getText')
                var mode =  $('#mode').combobox('getText')
                var search_request =  $('#search_request').combobox('getText')
                var status =  $('#status').combobox('getText')
                var meta_data =  $('#meta_data').combobox('getText')
                
                item_obj = {
                    keyword: $('#keyword').combobox('getText'),
                    mode: $('#mode').combobox('getText'),
                    search_request: $('#search_request').combobox('getText'),
                    status: $('#status').combobox('getText'),
                    meta_data: $('#meta_data').combobox('getText'),
                }
                for (const key in item_obj) {
                    if (item_obj[key] =='---------'){
                        delete item_obj[key]
                    }
                    
                }
              
                $('#dg').datagrid({
                    loader: function(param, success, error){
                        var opts = $(this).datagrid('options');
                        if (!opts.url) return false;
                        $.ajax({
                            type: opts.method,
                            url: opts.url,
                            data: item_obj,
                            dataType: 'json',
                            success: function(data){
                                console.log(data)
                                success(data);
                            },
                            error: function(){
                                error.apply(this, arguments);
                            }
                        });
                    }
                })
           
                
            }
        })
                   });  
    
    
    </script>
{% endblock filejs %}
{% endblock main-content %}
